<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-center mb-4">
        <h1 class="text-center h3 mb-5 text-gray-800">
            <i class="fas fa-user-clock"></i>
            <b> Empleados </b>
        </h1>
    </div>

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-xl-12 col-lg-12 col-md-8">
                <div class="card shadow mb-4">

                    <div class="card-body">
                        <p>
                            <button class="btn btn-success btn-user text-white" type="button"
                                routerLink="/employees/create">
                                <i class="fas fa-plus"></i> Agregar Nuevo Empleado
                            </button>
                        </p>

                        <div class="table-responsive">

                            <div class="table-responsive">

                                <table datatable class="table table-striped table-condensed table-hover" width="100%"
                                    cellspacing="0">

                                    <thead>
                                        <tr>
                                            <th>
                                                Opciones
                                            </th>
                                            <th>
                                                N°. Identificación
                                            </th>
                                            <th>
                                                Nombres
                                            </th>
                                            <th>
                                                Apellidos
                                            </th>
                                            <th>
                                                Tipo Empleado
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let Employee of _IEmployee">
                                            <td class="text-white">
                                                <button class="btn btn-warning fas fa-edit text-white"
                                                    title="Editar Empleado" routerLink="/employees/edit"></button>
                                                <button class="btn btn-info fas fa-eye" title="Visualizar Empleado"
                                                    data-toggle="modal" data-target=".bd-example-modal-lg"
                                                    (click)="getDataByIdModal(Employee)"></button>
                                                <button class="btn btn-dark fas fa-trash-alt"
                                                    title="Eliminar Empleado"></button>
                                            </td>
                                            <td> {{Employee.firstName}}</td>
                                            <td> {{Employee.lastName}}</td>
                                            <td> {{Employee.numberDocument}}</td>
                                            <td> {{Employee.id_EmpType}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="d-sm-flex align-items-center justify-content-center modal-header">
                <h5 class="text-center modal-title" id="exampleModalLabel"> <i class="fas fa-eye"></i> <b> Visualización
                        de Empleados </b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="p-4">
                            <form [formGroup]="EmployeeViewForm">
                                <div class="d-sm-flex align-items-center justify-content-center mb-4">
                                    <h6 class="text-center h5 mb-0 text-primary">
                                        <b> Datos Personales </b>
                                    </h6>
                                </div>
                                <hr>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label class="font-weight-bold text-dark">Nombres:</label>
                                        <input class="form-control form-control-user" formControlName="firstName" title="Nombres"
                                            type="text" placeholder="Nombres..." disabled />
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="font-weight-bold text-dark"> Apellidos:</label>
                                        <input class="form-control form-control-user" formControlName="lastName" title="Apellidos"
                                            type="text" placeholder="Apellidos..." disabled />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label class="font-weight-bold text-dark"> Número de Identificación:</label>
                                        <input class="form-control form-control-user" formControlName="n_Identification" title="Número de Identificación"
                                            type="text" placeholder="Número de Identificación..." disabled />
                                    </div>
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label class="font-weight-bold text-dark"> Tipo de Empleado</label>
                                        <input class="form-control form-control-user" formControlName="employeeType" title="Tipo de Empleado"
                                            type="text" placeholder="Tipo de Empleado..." disabled />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>

</div>