<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-center mb-4">
        <h1 class="text-center h3 mb-5 text-gray-800">
            <i class="fas fa-user-clock"></i>
            <b> Empleados </b>
        </h1>
    </div>

    <div class="card shadow mb-4">

        <div class="card-body">
            <p>
                <button class="btn btn-success btn-user text-white" type="button" routerLink="/employees/create">
                    <i class="fas fa-plus"></i> Agregar Nuevo Empleado
                </button>
            </p>

            <div class="table-responsive">

                <table datatable class="table table-striped table-condensed table-hover" width="100%" cellspacing="0">


                </table>

            </div>

        </div>

    </div>

</div>