<div class="container-fluid">

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-8">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"> <a href="" routerLink="/employees"> Empleados </a> </li>
                        <li class="breadcrumb-item active" aria-current="page"><b> Creación </b></li>
                    </ol>
                </nav>

                <div class="d-sm-flex align-items-center justify-content-center mb-4">
                    <h1 class="text-center h3 mb-5 text-gray-800">
                        <i class="fas fa-user-clock"></i>
                        <b> Empleados </b>
                    </h1>
                </div>

                <div class="card shadow">

                    <div class="card-header py-3">
                        <h6 class="text-primary">
                            <i class="fas fa-plus-circle"> </i> <b> Creación de Empleados </b>
                        </h6>
                    </div>

                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <h6 class="m-0 font-weight-bold text-danger">
                                        <i class="fas fa-info-circle"> </i> Los campos con (*) son requeridos...
                                    </h6>

                                    <br />

                                    <form [formGroup]="EmployeeCreateForm">
                                        <div class="d-sm-flex align-items-center justify-content-center mb-4">
                                            <h6 class="text-center h5 mb-0 text-primary">
                                                <b> Datos Personales </b>
                                            </h6>
                                        </div>
                                        <hr>
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label class="font-weight-bold text-dark">Nombres(*):</label>
                                                <input class="form-control form-control-user"
                                                    formControlName="firstName" title="Nombres" type="text"
                                                    placeholder="Nombres..." required />
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="font-weight-bold text-dark"> Apellidos(*):</label>
                                                <input class="form-control form-control-user" formControlName="lastName"
                                                    title="Apellidos" type="text" placeholder="Apellidos..." required />
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label class="font-weight-bold text-dark"> Número de
                                                    Identificación(*):</label>
                                                <input class="form-control form-control-user"
                                                    formControlName="n_Identification" title="Número de Identificación"
                                                    type="number" minlength="1" maxlength="10" placeholder="Número de Identificación..." pattern="^[0-9]+"
                                                    oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
                                                    required />
                                            </div>
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label class="font-weight-bold text-dark"> Tipo de Empleado (*):</label>
                                                <select class="form-control form-control-user custom-select"
                                                    formControlName="employeeType" title="Tipo de Empleado" type="text"
                                                    placeholder="Tipo de Empleado..." required> 
                                                    <option *ngFor="let empType of _IEmployeeType" [value]="empType.id_EmployeeType">
                                                        {{ empType.empDescription }} </option>
                                                </select>
                                            </div>
                                        </div>
                                        <hr>
                                        <br>
                                        <div class="form-group row">
                                            <div class="col-lg-3 mb-3 mb-lg-0 offset-lg-3">
                                                <a class="btn btn-danger btn-user btn-block text-white" title="Cancelar"
                                                    routerLink="/employees">
                                                    <i class="fas fa-times-circle"></i> Cancelar
                                                </a>
                                            </div>
                                            <div class="col-lg-3 mb-3 mb-lg-0 ">
                                                <button type="submit" value="Create"
                                                    class="btn btn-primary btn-user btn-block text-white"
                                                    title="Guardar" [disabled]="EmployeeCreateForm.invalid">
                                                    <i class="fas fa-save"></i> Guardar
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>