<div class="container-fluid">

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-8">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"> <a href="" routerLink="/employees"> Empleados </a> </li>
                        <li class="breadcrumb-item active" aria-current="page"><b> Creación </b></li>
                    </ol>
                </nav>

            <div class="d-sm-flex align-items-center justify-content-center mb-4">
                <h1 class="text-center h3 mb-5 text-gray-800">
                    <i class="fas fa-user-clock"></i>
                    <b> Empleados </b>
                </h1>
            </div>

        </div>
        </div>
    </div>

</div>